h1 welcome to the SuperSnake
br
h4 a websocket connected snake game
h4 play against anonymous competition or an AI
br
p Please 
  a.btn.btn-primary(ng-click='register()') Sign Up 
  |  or 
  a.btn.btn-success(ng-click='login()') Login
  |  to play! 