doctype html

html(ng-app=app)
  head
    block head
      include Framework/head
      yield

  body
    include Framework/header

    div.content
      include Framework/sidebar

      block content
        yield
