div.popover-header
  h4 Shortest Path Algorithms

div.popover-body
  p Your AI opponent is powered by Pathfinding.js

  p Check out this 
    a(target='_blank', href='http://qiao.github.io/PathFinding.js/visual/') really cool visual demo of Pathfinding.js
      img(src='images/pathfinding.png')

  p and the code (with docs) 
    a(target='_blank', href='https://github.com/qiao/PathFinding.js') on Github