div.sidebar.pull-left(ng-controller="Scoreboard")
  h4 Your Score
  ul.list-unstyled
    li Total Games: {{gameCount}}
    li Wins: {{winCount}}
    li Losses: {{lossCount}}
    li Growth: {{growth}}
    
  
  p concurrent Games: {{concurrentGames}}