div.sidebar.pull-right(ng-controller="MainCtrl")
  table
    tr
      th Total Games
      th Wins
      th Losses
      th Growth
    tr
      td {{player.total}}
      td {{player.wins}}
      td {{player.losses}}
      td {{player.growth}}

  h1 {{losses}}

  h4 concurrent Games
    small 3,000

  h4 and, then more content