div.sidebar.pull-left(ng-controller="Scoreboard")
  h4 Your Score
  ul.list-unstyled
    li Total Games: {{gameCount}}
    li Wins: {{winCount}}
    li Losses: {{lossCount}}
    li Growth: {{growth}}
    
  p concurrent Games: {{concurrentGames}}

  div.ai-algorithm
    h5 AI Algorithm
      span(on-hover, prompt='?')

    div.dropdown
      a#ai_select.dropdown-toggle.btn.btn-default(data-toggle='dropdown')
        | {{ algorithm }} 
        span.caret

      ul.dropdown-menu(role='menu', aria-labelledby='ai_type')
        li(role='presentation', ng-repeat='algorithm in algorithms')
          a(role='menuitem', href='#', ng-click='chooseAlgorithm(algorithm)') {{ algorithm }}