body {
  padding: 70px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #D4E4F5;
}

.navbar-fixed-top {
  min-height: 70px;
  padding-top: 10px;
  background: hsl(200,90%,13%);
}

.navbar-left {
  margin-left: 20px;
}

ul.nav.navbar-nav a {
  font-size: 20px;
  color: white;
}

.navbar-brand {
  font-size: 33px;
  font-family: cursive;
  color: hsl(86,90%,72%) !important;
}

a {
  color: #00B7FF;
  cursor: pointer;
  cursor: hand;
}

.content {
  width: 900px;
  margin-top: 55px;
}

.sidebar {
  color: white;
  background: rgb(4, 71, 83);
  height: 506px;
  width: 260px;
  padding: 20px;
  position: relative;
}

.popover-outer {
  position: relative;
  display: none;
}

.popover-inner {
  z-index: 20;
  position: absolute;
  top: -100px;
  left: 170px;
  background: white;
  color: black;
  padding: 20px;
  border-radius: 2px;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    1px 1px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         1px 1px 5px 0px rgba(50, 50, 50, 0.75);
}

.popover-header {
  margin: -25px -20px 20px -20px;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  background: hsl(0,0%,95%);
  padding: 10px 20px 0 20px;
  border-bottom: solid 1px grey;
}

.sidebar .ai-algorithm {
  margin-top: 50px;
}

.sidebar .ai-algorithm [on-hover] {
  margin-left: 20px;
}

.sidebar .ai-algorithm img {
  margin: 10px 0;
}

.leaderboard {
  color: white;
  background: rgb(4, 71, 83);
  padding: 20px;
}

#canvas {
  background-color: #FFFFF3;
  border: 3px solid #626345;
}

/*  Animations  */
.animate-show {
  -webkit-transition:all linear 0.3s;
  transition:all linear 0.3s;
  opacity: 1;
  display: block !important;
}

.animate-show.ng-hide-add,
.animate-show.ng-hide-remove {
  display: block !important;
}

.animate-show.ng-hide {
  opacity: 0;
  display: none;
}

.animate-show.ng-hide div {
  opacity: 0;
  display: none;
}

/* Ripple Effect 

thanks to:

http://codepen.io/cchambers/pen/sLrDk

*/
ul.ripple{
  float:left;
  margin:0;
  padding-left:50px;
  font-size:38px;
  font-weight:600;
}

ul.ripple li{
  float:left;
  list-style:none;
  padding:0 1px;
  text-shadow:1px 1px 3px rgba(0,0,0,.25);
}

ul.ripple li:nth-child(2){
  -webkit-animation-delay:50ms;
  -moz-animation-delay:50ms;
  animation-delay:50ms;
}

ul.ripple li:nth-child(3){
  -webkit-animation-delay:100ms;
  -moz-animation-delay:100ms;
  animation-delay:100ms;
}

ul.ripple li:nth-child(4) {
  -webkit-animation-delay:150ms;
  -moz-animation-delay:150ms;
  animation-delay:150ms;
}

ul.ripple li:nth-child(5){
  -webkit-animation-delay:200ms;
  -moz-animation-delay:200ms;
  animation-delay:200ms;
}

ul.ripple li:nth-child(6){
  -webkit-animation-delay:250ms;
  -moz-animation-delay:250ms;
  animation-delay:250ms;
}

ul.ripple li:nth-child(7){
  -webkit-animation-delay:300ms;
  -moz-animation-delay:300ms;
  animation-delay:300ms;
}

ul.ripple li:nth-child(8){
  -webkit-animation-delay:350ms;
  -moz-animation-delay:350ms;
  animation-delay:350ms;
}

ul.ripple li:nth-child(9){
  -webkit-animation-delay:400ms;
  -moz-animation-delay:400ms;
  animation-delay:400ms;
}

ul.ripple li:nth-child(10){
  -webkit-animation-delay:450ms;
  -moz-animation-delay:450ms;
  animation-delay:450ms;
}

ul.ripple:hover li {
 -webkit-animation-name: ripple;
 -webkit-animation-duration: 300ms;
 -webkit-animation-iteration-count: 1;
 -webkit-animation-timing-function: ease-in;
 -moz-animation-name: ripple;
 -moz-animation-duration: 300ms;
 -moz-animation-iteration-count: 1; 
 -moz-animation-timing-function: ease-in;
 -o-animation-name: ripple;
 -o-animation-duration: 300ms;
 -o-animation-iteration-count: 1; 
 -o-animation-timing-function: ease-in;
 animation-name: ripple;
 animation-duration: 300ms;
 animation-iteration-count: 1; 
 animation-timing-function: ease-in;
}

@-webkit-keyframes ripple {
  0%   { -webkit-transform: skewY(0deg); }
  25%  { -webkit-transform: skewY(10deg) translateY(-5px); }
  50%  { -webkit-transform: skewY(0deg) translateY(-8px); }
  75%  { -webkit-transform: skewY(-10deg) translateY(-5px);}
  100% { -webkit-transform: skewY(0deg) translateY(0px); }
}

@-moz-keyframes ripple {
  0%   { -moz-transform: skewY(0deg); }
  25%  { -moz-transform: skewY(10deg) translateY(-5px); }
  50%  { -moz-transform: skewY(0deg) translateY(-8px); }
  75%  { -moz-transform: skewY(-10deg) translateY(-5px);}
  100% { -moz-transform: skewY(0deg) translateY(0px); }
}

@-o-keyframes ripple {
  0%   { -o-transform: skewY(0deg); }
  25%  { -o-transform: skewY(10deg) translateY(-5px); }
  50%  { -o-transform: skewY(0deg) translateY(-8px); }
  75%  { -o-transform: skewY(-10deg) translateY(-5px);}
  100% { -o-transform: skewY(0deg) translateY(0px); }
}

@keyframes ripple {
  0%   { transform: skewY(0deg); }
  25%  { transform: skewY(10deg) translateY(-5px); }
  50%  { transform: skewY(0deg) translateY(-8px); }
  75%  { transform: skewY(-10deg) translateY(-5px);}
  100% { transform: skewY(0deg) translateY(0px); }
}