body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #D4E4F5;
}

a {
  color: #00B7FF;
}

.content {
  width: 900px;
  margin-top: 55px;
}

.sidebar {
  color: white;
  background: rgb(4, 71, 83);
  height: 506px;
  width: 260px;
  padding: 20px;
  position: relative;
}

.sidebar .ai-algorithm {
  position: absolute;
  bottom: 20px;
}

.leaderboard {
  color: white;
  background: rgb(4, 71, 83);
  padding: 20px;
}

#canvas {
  background-color: #FFFFF3;
  border: 3px solid #626345;
}